

@media screen and (max-width: 480px)  {
    .aaa{
        display: none;
    }
    .header_container2{
        display: none;  /* flex */
    }
    
    .for_responsive_header{
        display: block;
        max-width: 390px;
    }
}